<h2><%= link_to "← ", tweet_path(@tweet.id), class: "before_page" %>コメントの編集</h2>

<%= form_for [@tweet, @comment], url: tweet_comment_path do |f| %>
  <p>
    <%= f.label :content,"内容" %>
    <%= f.text_field :content %>
  </p>
  <%= f.submit "更新" %>
<% end %>