<h1>ツイート一覧</h1>

<% @tweets.each do |tweet| %>
  <hr>
  <p><span>投稿者: </span><%= tweet.user.user_name %></p>
  <p><span>タイトル: </span><%= tweet.title %></p>
  <p><span>ツイート内容: </span><%= tweet.body %></p>
  <button><%= link_to "詳細", tweet_path(tweet.id) %></button>
  <% if @user_name == tweet.user.user_name %>
    <button><%= link_to "編集", edit_tweet_path(tweet.id) %></button>
    <button><%= link_to "削除", tweet_path(tweet.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></button>
  <% end %>
  <p>
  <% if user_signed_in? %>
    <% if tweet.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り解除: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post %></p>
    <% end %>
  <% else %>
    <p><span>お気に入り数: </span><%= tweet.favorites.count %></p>
  <% end %>
  </p>
<% end %>