<h1>新規ツイート作成</h1>
<% if @tweet.errors.any? %>
  <p class="error_message">タイトルとツイートの両方を入力してください。</p>
<% end %>

<%= form_for @tweet do |f| %>
  <p>
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body,"ツイート" %>
    <%= f.text_field :body %>
  </p>
  <%= f.submit "新規作成" %>
<% end %>

<button><%= link_to "戻る", tweets_path %></button>