<h2><%= link_to "← ", tweets_path, class: "before_page" %>ツイート内容</h2>

<div class="user-flex">
  <p class="user-image2">
    <% if @tweet.user.image.present? %>
      <%= image_tag @tweet.user.image.url %>
    <% else %>
      <%= image_tag "initial_image.jpg", size: "60x60", class: "rounded-circle" %>
    <% end %>
  </p>
  <div class="user-mini-form">
    <p class="name"><%= link_to @tweet.user.user_name, @tweet.user %></p>
    <p class="email"><%= @tweet.user.email %></p>
  </div>
</div>
<p><span>タイトル: </span><%= @tweet.title %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>

<% @tweet.comments.each do |comment| %>
  <hr>
  <p><%= comment.user.user_name %><span>： </span><%= comment.content %></p>
  <% if @user_name == comment.user.user_name %>
    <button class="button"><%= link_to "編集", edit_tweet_comment_path(@tweet, comment.id) %></button>
    <button class="button"><%= link_to "削除", tweet_comment_path(@tweet, comment.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></button>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@tweet, @comment] do |f| %>
    <hr>
    <%= f.text_field :content, class: "mx-0" %>
    <%= f.submit "コメントする", class: "button", class: "button" %>
  <% end %>
<% end %>
