<h2><%= link_to "← ", user_path(@user.id), class: "before_page" %>ユーザー編集</h2>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :user_name,"ユーザーネーム" %>
    <%= f.text_field :user_name %>
  </p>
  <div class="user-flex">
    
    <p class="user-image-form">
      <%= f.label :image,"画像" %>
      <%= f.file_field :image %>
    </p>
  </div>
  <p>
    <%= f.label :email,"メールアドレス" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :introduction,"自己紹介" %>
    <%= f.text_field :introduction %>
  </p>
  <%= f.submit '更新', class: "button" %>
<% end %>
