<h1>ユーザー一覧</h1>
<hr>
<p><%= @user %>でログインしています。</p>
<% @users.each do |user| %>
  <hr>
  <div class="user-flex">
    <p class="user-image2"><%= image_tag user.avatar.url %></p>
    <div class="user-mini-form">
      <p class="name"><%= user.user_name %></p>
      <p class="email"><%= user.email %></p>
    </div>
  </div>
  <% if @user == user.user_name %>
    <button><%= link_to "詳細", user_path(user.id) %></button>
  <% end %>
<% end %>
