<h2><%= link_to "← ", users_path, class: "before_page" %><%= @user.user_name %>のマイページ</h2>

<hr>
<div class="user-flex">
  <p class="user-image">
    <% if @user.image.present? %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag "initial_image.jpg", size: "60x60", class: "rounded-circle" %>
    <% end %>
  </p>
  <div>
    <p class="user-name"><%= @user.user_name %></p>
    <p class="user-email"><%= @user.email %></p>
  </div>
</div>
<p><span>自己紹介: </span><%= @user.introduction %></p>

<% if current_user == @user %>
  <button><%= link_to "編集", edit_user_path(@user.id) %></button>
<% end %>

<% @favorite_tweets.each do |tweet| %>
  <hr>
  <p><span>ファボツイート内容: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>
<% end %>
