<!DOCTYPE html>
<html>
  <head>
    <title>簡易twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="constitution">
      <div class="side-menu">
        <div class="side-menu-container">
          <ul>
            <% unless user_signed_in? %>
              <li><button class="side-button mb-3"><%= link_to new_user_registration_path do %><i class="fas fa-palette mr-2"></i>新規登録<% end %></button></li>
              <li><button class="side-button mb-3"><%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt mr-2"></i>ログイン<% end %></button></li>
            <% end %>
            <li><button class="side-button mb-3"><%= link_to tweets_path do %><i class="fas fa-home mr-2"></i>ツイート 一覧<% end %></button></li>
            <li><button class="side-button mb-3"><%= link_to users_path do %><i class="fas fa-user mr-2"></i>ユーザー 一覧<% end %></button></li>
            <% if user_signed_in? %>
              <li><button class="side-button mb-3"><%= link_to memos_path do %><i class="far fa-sticky-note mr-2"></i>メモ帳<% end %></button></li>
              <li><button class="side-button mb-3"><%= link_to favorites_path do %><i class="far fa-thumbs-up mr-2"></i>お気に入り<% end %></button></li>
              <li><button class="side-button mb-3"><%= link_to user_path(current_user.id) do %><i class="far fa-address-card mr-2"></i>マイページ<% end %></button></li>
              <li><button class="side-button mb-3"><%= link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %><i class="fas fa-sign-out-alt mr-2"></i>ログアウト<% end %></button></li>
            <% end %>
          </ul>
          <% if request.path.include?("tweets") || request.path == "/" %>
            <li><div class="create-tweet"><%= link_to "Tweet 投稿", new_tweet_path %></div></li>
          <% elsif request.path.include?("memos") %>
            <li><div class="create-tweet"><%= link_to "メモ作成", new_memo_path %></div></li>
          <% end %>
        </div>
      </div>
      <div class="main">
        <div class="main-container">
          <%= yield %>
        </div>
      </div>
      <div class="other">
        <div class="other-container">
          <div class="user">
            <% if user_signed_in? %>
            <div class="user-flex">
              <p class="user-image2">
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image.url %>
                <% else %>
                  <%= image_tag "initial_image.jpg", size: "60x60", class: "rounded-circle" %>
                <% end %>
              </p>
              <div class="user-mini-form">
                <p class="name"><%= link_to current_user.user_name, current_user %></p>
                <p class="email"><%= current_user.email %></p>
              </div>
            </div>
            <p><%= current_user.introduction %></p>
            <% else %>
            <h3>ゲスト</h3>
            <% end %>
          </div>
          <div class="news">
            <h3>最近の話題</h3>
            <a class="twitter-timeline" data-tweet-limit="10" href="https://twitter.com/YahooNewsTopics?ref_src=twsrc%5Etfw">Tweets by YahooNewsTopics</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
