<!DOCTYPE html>
<html>
  <head>
    <title>簡易twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if user_signed_in? %>
      <button><%= link_to "新規投稿", new_tweet_path %></button>
      <button><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} %></button>
      <button><%= link_to "マイページ", user_path(current_user.id) %></button>
    <% else %>
      <button><%= link_to "新規登録", new_user_registration_path %></button>
      <button><%= link_to "新規投稿", new_tweet_path %></button>
      <button><%= link_to "ログイン", new_user_session_path %></button>
    <% end %>
      <button><%= link_to "ツイート一覧", tweets_path %></button>
      <button><%= link_to "ユーザー一覧", users_path %></button>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
